#canvas{
    margin: auto;
    background: #ececec;
    width: 100%;
    margin-top: 10px;
}
.btn-disabled{
    color: #fff !important;
}
button.btn.btn-secondary.btn-disabled{
    background: #3498d8;
    border: 0px;
}
.btn-group{
    width: 160px;
}
